API_URL=https://jsonplaceholder.typicode.com/posts
API_LIMIT=100

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=pipeline_db
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password

RAW_DATA_PATH=data/data_raw.json
DLQ_PATH=data/dlq.jsonl